body {
	background-color: blanchedalmond;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.header {
	background-color: white;
	margin-left: 25px;
	margin-right: 25px;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

div.content {
	margin-left: 25px;
	margin-right: 25px;
}

footer {
	margin-top: 50px;
	font-size: 12px;
}